.paginationContainer {
  background: #f4285a;
  box-shadow: 0px 4px 4px 0px #131b58;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px auto 0 auto;
  gap: 100px;
}

.currentPage {
  width: 100px;
  height: 50px;
  background-color: #6ba66e;
  box-shadow: 0px 4px 7px 5px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossPiece {
  display: flex;
  align-items: center;
}

.verticalAxis {
  border-radius: 5px;
  background: #343434;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  width: 20px;
}

.verticalBlock {
  color: #252525;
  text-align: center;
}

.paginationBtn {
  color: #252525;
  text-align: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  height: 20px;
  border: none;
  width: 27px;
  cursor: pointer;
  background: #343434;
  transition: all 1s;
}

.paginationBtn:hover {
  background: #6e6e6e;
}
.prevBtn {
  border-radius: 5px 0px 0px 5px;
}

.nextBtn {
  border-radius: 0px 5px 5px 0px;
}
