.sidebar {
  position: fixed;
  top: 0;
  /* left: -300px; */
  right: 0;
  width: 350px;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: #fff;
  z-index: 999;
  background: none;
  padding-top: 80px;
}

.sidebar.open {
  right: 0;
}

.toggle-btn {
  position: absolute;
  right: 20px;
  top: 30px;
}

.content {
  padding: 20px;
}

.infoPanelBlock {
  background-image: url('/src/assets/info-panel.png');
  width: 350px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.infoPanel {
  background-color: #f4285a;
  box-shadow: -4px 5px 5px 0 rgba(25, 32, 92, 0.5);
}

.pokemonInfoImg {
  width: 200px;
  display: block;
  margin: 0 auto;
  border: solid 1px #bdbdbd;
  box-shadow: 4px 4px 4px 0px rgba(92, 92, 92, 0.2) inset;
  border-radius: 10px;
  background-color: #fff;
}

.metadata {
  color: #505690;
  margin-right: 10px;
}

.pokemonInfoData {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: #131b58;
  margin: 0;
}

.infoWrapper {
  background-color: #00b0d4;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  border: 5px solid #131b58;
  border-radius: 5px;
  background: #3ae3ea;
  box-shadow: 0px 0px 45px 30px rgba(0, 0, 0, 0.25) inset;
}

.infoOverlay {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
