.SearchWrapper {
  display: flex;
  flex-wrap: nowrap;
}

.SearchInput {
  box-sizing: border-box;
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  outline: 0;
  outline-offset: 0;
  max-height: 40px;
  max-width: 210px;
}

@media (max-width: 768px) {
  .SearchWrapper {
    width: 90%;
    margin: 0 auto;
  }
}
